* {
    font-family: "Poppins", sans-serif;

}

body{
    background-image: url('/images/background-image.jpg');
    background-size: 150px;
    background-position: center;
    height: 100vh;
}

.container{
     display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}

.form-container {
    width: 500px;
    margin-inline: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container input {
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container select{
    font-size: 16px;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container textarea{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container button[type="submit"] {
    width: 100%;
    background: rgb(98, 75, 117);
    background: linear-gradient(90deg, rgba(98, 75, 117, 1) 0%, rgba(213, 109, 136, 1) 100%);
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    line-height: 0px;
}

.form-container button[type="submit"]:hover {
    background: rgb(213,109,136);
    background: linear-gradient(90deg, rgba(213,109,136,1) 0%, rgba(98,75,117,1) 100%);
}

.form-container span#charCount{
    float: right;
    font-size: 14px;
}

.h2-title {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    margin: auto;
    color: #624b75;
}