* {
    font-family: "Poppins", sans-serif;
}

body{
  overflow-x: hidden;
  overflow-y: hidden;
}

.all-content{
    display: flex;
}

.main-content {
  flex:1;
  margin-left:200px;
  margin-top: 0px;
  border-top-left-radius: 30px;
  background: #f9f9f9;
  padding: 0.5rem;
  height: 100vh;
  width: 100vw;
}

.top-bar {
  background-color: #fff;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;

}

.user-button {
  position: relative;
  margin-right: 30px;
}

.user-btn {
  background-color: transparent;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  cursor: default;
}

.user-btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0px;
}

.dropdown-arrow {
  cursor: default;
}

.dropdown-arrow:hover{
    cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.user-role {
  font-size: 12px;
}

.fa-chevron-down {
  margin-left: auto;
}

.menu-icon{
    margin-right:5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 41px;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: white;
  background: rgb(98,75,117);
  background: linear-gradient(90deg, rgba(98,75,117,1) 0%, rgba(213,109,136,1) 100%);
}

.show {
  display: block;
}

.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}

.logo-container {
  padding: 10px;
  text-align: center;
}

.logo-container img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 10px 5px;
}

.active-page {
  background: rgb(98,75,117);
  background: linear-gradient(90deg, rgba(98,75,117,1) 0%, rgba(213,109,136,1) 100%);
  color: white;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 15px;
}

nav ul li a:hover {
  color: white;
  background: rgb(98,75,117);
  background: linear-gradient(90deg, rgba(98,75,117,1) 0%, rgba(213,109,136,1) 100%);
}

.title-container {
  padding: 30px;
  margin: 0px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container h2 {
  font-size: 28px;
  color: #624b75;
}

.title-container a {
  margin-left: auto;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  background: rgb(98, 75, 117);
  background: linear-gradient(90deg, rgba(98, 75, 117, 1) 0%, rgba(213, 109, 136, 1) 100%);
}

.title-container a:hover{
  cursor: pointer;
  background: rgb(213,109,136);
  background: linear-gradient(90deg, rgba(213,109,136,1) 0%, rgba(98,75,117,1) 100%);
}

.table-container {
  border-collapse: collapse;
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
}

.table-container thead {
  background-color: #333 !important;
  color: #fff;

}

.table-container th, td {
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #cf5a7a;

}

.table-container tr{
    background-color: #fff;
    height: 55px;
}

.actions-container {
  display: flex;
  justify-content: center;
}

.edit-button, .delete-button {
  width: 80px;
  height: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
}

.edit-button i, .delete-button i {
  margin-right: 5px;
}

.edit-button:hover
{
    background-color:#44B04F;
}

.delete-button:hover {
  background-color: #EC4343;
}

.delete-button{
    background-color:#EE0A0A;
}

.edit-button{
  background-color:#0AAB1C;
}