<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Reservation</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" th:href="@{/formStyle.css}">
</head>
<body>

  <form class="form-container" th:action="@{/addReservation}" th:object="${reservation}" method="post">
    <h2 class="h2-title">Add Reservation</h2>
    <input type="hidden" placeholder="pacientID" th:field="*{pacientID}"><br>

    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></p>
    <input type="text" placeholder="First Name" th:field="*{firstName}"><br>

    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></p>
    <input type="text" placeholder="Last Name" th:field="*{lastName}"><br>

    <p th:if="${#fields.hasErrors('reservationDate')}" th:errors="*{reservationDate}" style="color: red"></p>
    <input type="datetime-local" placeholder="Reservation Date" th:field="*{reservationDate}"><br>

    <p th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}" style="color: red"></p>
    <input type="text" placeholder="Specialization" th:field="*{specialization}"><br>

    <p th:if="${#fields.hasErrors('issue')}" th:errors="*{issue}" style="color: red"></p>
    <textarea placeholder="Issue" th:field="*{issue}"></textarea><br><br>

    <p th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></p>
    <button type="submit" class="button">Save</button>
  </form>

</body>
</html>
