<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medi-Core - Add Reservation</title>
  <link rel="icon" th:href="@{/images/favicon.png}" type="image/x-icon">
  <link rel="stylesheet" th:href="@{/formStyleSheet.css}">

  <script>
    function limitTextarea(element) {
      var maxChars = 300;
      var charCount = element.value.length;
      if (charCount > maxChars) {
        element.value = element.value.substring(0, maxChars);
        charCount = maxChars;
      }
      document.getElementById('charCount').innerText = charCount + '/' + maxChars + ' characters';
    }
  </script>
</head>
<body>

<div class="container">
  <form class="form-container" th:action="@{/addReservationByPacientReservationsPage}" th:object="${reservation}" method="post">
    <h2 class="h2-title">Add Reservation</h2>

    <input type="hidden" th:field="*{pacientID}"><br>

    <label>Reservation Date</label>
    <p th:if="${#fields.hasErrors('reservationDate')}" th:errors="*{reservationDate}" style="color: red"></p>
    <input type="datetime-local" placeholder="Reservation Date" th:field="*{reservationDate}"><br>

    <p th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}" style="color: red"></p>
    <label>Specialization</label>
    <select th:field="*{specialization}">
      <option value="" disabled selected>Select a specialization</option>
      <option th:each="specialization : ${specializations}" th:value="${specialization.specializationName}" th:text="${specialization.specializationName}"></option>
    </select><br>

    <p th:if="${#fields.hasErrors('issue')}" th:errors="*{issue}" style="color: red"></p>
    <label>Issue</label>
    <textarea oninput="limitTextarea(this)" rows="5" cols="50" th:field="*{issue}"></textarea><br>
    <span id="charCount">0/300 characters</span><br><br>

    <p th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></p>
    <button type="submit" class="button">Save</button>
  </form>
</div>

</body>
</html>
