<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Specialization</title>
  <link rel="stylesheet" th:href="@{/style.css}">
  <link rel="stylesheet" th:href="@{/formStyle.css}">
</head>
<body>

<form class="form-container" th:action="@{/addSpecialization}" th:object="${specialization}" method="post">
  <h2 class="h2-title">Add Patient</h2>
  <p th:if="${#fields.hasErrors('specializationName')}" th:errors="*{specializationName}" style="color: red"></p>
  <input type="text" placeholder="Specialization Name" th:field="*{specializationName}"><br>

  <p th:if="${#fields.hasErrors('medic')}" th:errors="*{medic}" style="color: red"></p>
  <input type="text" placeholder="Medic" th:field="*{medic}"><br>

  <p th:if="${#fields.hasErrors('room')}" th:errors="*{room}" style="color: red"></p>
  <input type="text" placeholder="Room" th:field="*{room}"><br>

  <button type="submit" class="button">Save</button>
</form>

</body>
</html>
