<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reservation</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/formStyle.css}">
</head>
<body>

<form class="form-container" th:action="@{/editReservation}" th:object="${reservation}" method="post">
    <h2 class="h2-title">Edit Reservation</h2>
    <input type="hidden" name="reservationID" th:value="${reservation.id}" /> <!-- Adăugăm un câmp ascuns pentru ID-ul rezervării -->
    <input type="hidden" placeholder="pacientID" th:field="*{pacientID}"><br>
    <input type="text" placeholder="firstName" th:field="*{firstName}"><br>
    <input type="text" placeholder="lastName" th:field="*{lastName}"><br>
    <input type="datetime-local" placeholder="reservationDate" th:field="*{reservationDate}"><br>
    <input type="text" placeholder="specialization" th:field="*{specialization}"><br><br>
    <button type="submit" class="button">Save</button>
</form>


</body>
</html>
