<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="index">Acasă</a></li>
            <li><a href="reservations">Rezervări</a></li>
            <li><a href="specializations">Specializări</a></li>
            <li><a href="about">Despre</a></li>
            <!-- Butonul pentru pagina de Log In -->
            <div class="login-button">
                <a href="login">Log In</a>
            </div>
        </ul>
    </nav>
</header>

<main>
    <h1>Bine ați venit la Spital!</h1>

    <!-- Alte conținut specific paginii Acasă -->

    <!-- Afișăm lista de pacienți -->
    <ul>
        <li th:each="pacient : ${pacients}">
            <span th:text="${pacient.firstName}"></span> - <span th:text="${pacient.age}"></span> ani
        </li>
    </ul>
</main>

</body>
</html>
