<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="specializations">Specializations</a></li>
            <li><a href="pacients">Patients</a></li>
            <li><a href="showAddPacient">Add Patient</a></li>
            <li><a href="reservations">Reservations</a></li>
            <!-- Butonul pentru pagina de Log In -->
            <div class="login-button">
                <a href="login">Log In</a>
            </div>
        </ul>

    </nav>
</header>

<main>
    <h2 class="h2-title">Registered Patients</h2>

    <table class="table-container">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>CNP</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="pacient : ${pacients}">
            <td th:text="${pacient.firstName}"></td>
            <td th:text="${pacient.lastName}"></td>
            <td th:text="${pacient.cnp}"></td>
            <td th:text="${pacient.age}"></td>
            <td th:text="${pacient.email}"></td>
            <td th:text="${pacient.phoneNumber}"></td>

            <td>
                <!-- Butonul de edit -->
                <form th:action="@{/showEditPacient}" method="get">
                    <input type="hidden" name="id" th:value="${pacient.pacientID}" />
                    <button type="submit" class="button edit-button">Edit</button>
                </form>
                <!-- Butonul de delete -->
                <form th:action="@{/deletePacient}" method="post" onsubmit="return confirm('Are you sure you want to delete this patient?');">
                    <input type="hidden" name="pacientID" th:value="${pacient.pacientID}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="6" th:if="${#lists.isEmpty(pacients)}">There are no patients!</td>
        </tr>
        </tbody>
    </table>
</main>


</body>
</html>
